:root {
    --radius: 50px;
    --sans: -apple-system, blinkmacsystemfont, "Segoe UI", roboto, oxygen, ubuntu,
      cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  }
  
  :root[color-mode="light"] {
    --surface1: #babfcf;
    --surface2: #DADDE7;
    --surface3: #F3F4F7;
    --element1: #111111;
    --element2: #333333;
    --element3: #555555;
    --elementInverse: #eee;
    --primary: #F45265;
    --secondary: #ECCA5B;
    --secondaryInt: #EAC448;
    --secondaryMatch: #D0A339;
    --tertiary: #fff7d6;
    --box-shadow: 5px 5px 1px #cacaca, -5px -5px 1px #ffffff;
  }
  
  :root[color-mode="dark"] {
    --surface1: #373F51;
    --surface2: #4A556D;
    --surface3: #5B6886;
    --element1: #eeeeee;
    --element2: #dddddd;
    --element3: #cccccc;
    --elementInverse: #111;
    --primary: #F56476;
    --secondary: #F0D67F;
    --secondaryInt: #EED06D;
    --secondaryMatch: #DCBA6A;
    --tertiary: #eee8a9;
    --box-shadow: 5px 5px 1px #1d1d1d, -5px -5px 1px #272727;
  }

:root[color-mode='dark'] .dark--hidden {
    display: none;
}

:root[color-mode='light'] .light--hidden {
    display: none;
}

@viewport {
    width: device-width ;
    zoom: 1.0 ;
  }

@-ms-viewport {
    width: device-width ;
  }

* {
    transition: background 0.5s ease;
}

body {
    font: normal 20px Dosis;
    color: var(--element1);
    background-color: var(--surface1, #e6e6e6);
    min-width: 250px;
    text-align: center;
}

#tarefas {
    font: bold 26px 'Dosis';
    display: inline-block;
    justify-content: space-around;
    margin-left: 20px;
    text-align: left;
}

#divredacao {
    font: bold 26px 'Dosis';
    display: inline-block;
    justify-content: space-around;
    margin-left: 20px;
    text-align: left;
}

.container {
    padding: 20px;
    width: calc(100% - 150px);
    margin: auto;
    box-shadow: var(--box-shadow);
    background-color: var(--surface3, #222222);;
    background-clip: padding-box;
    border: 10px solid transparent;
    border-radius: 20px;
    padding-bottom: 4%;
}

#ptit {
    font: normal 60px Lobster;
    color: var(--primary);
    text-shadow: 4px 4px 1px var(--element1, #eeeeee);
    text-align: center;
}

footer {
    font: normal 30px Pacifico;
    color: var(--primary);
    text-align: center;
    padding: 2%;
    text-shadow: 3px 3px 1px var(--element1, #eeeeee);
}

.clock {
    font: normal 50px Pacifico;
    text-align: center;
    color: var(--element1);

}

input[type='button'], .color-mode__btn {
    width: 1;
    padding-left: 2%;
    padding-right: 2%;
    height: 40px;
    text-align: center;
    background-color: var(--secondary);
    font: bolder 14pt Dosis;
    color: var(--element1);
    text-shadow: 1px 1px 1px var(--surface1);
    border-style: outset;
    border-color: var(--secondaryMatch);
    border-width: thin;
}

input[type='button']:hover, .color-mode__btn {
    width: 1;
    height: 1;
    text-align: center;
    background-color: var(--secondaryInt);
    font-weight: bold;
    border-style: inset;
    border-color: var(--secondary);
    border-width: thin;
}

input[type='button']:active, .color-mode__btn {
    width: 1;
    height: 1;
    text-align: center;
    background-color: var(--secondaryMatch);
    font-weight: bold;
    border-style: inset;
    border-color: var(--secondary);
    border-width: thin;
}

hr {
    border-top: 3px dotted var(--element3);
    border-bottom: none;
  }

#inputTarefaButton{
    height: 30px;
    font: bolder 13pt Dosis;
}

#inputTarefa {
    height: 27px;
    color: var(--element1);
    background-color: var(--surface2);
    border: none;
}

.inputTarefaDiv {
    text-align: center;
}

.col {
      flex: 50%;
      justify-content: space-around;
  }
.row {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-flow: row wrap;
  }

div {
      border: 20px;
  }

h2 {
    border:none;
    padding: none;
    margin: none;
    text-align: center
  }

  .imgcontainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
  
    width: 100%;
    height: 100%;
  
    border-radius: 10px;
  }
  
  .imgbox {
    border-radius: 10px;
    display: flex;
  }
  
  .imgbox img {
    width: 100%;
    object-fit: contain;
    border-radius: 4px;
    min-width: 400px;
  }

  .color-mode__btn {
      width: 1;
      height: 1;
      font: normal 30px Arial;
      text-align: center;
  }

  #btn {
      position: absolute;
      top: 10px;
      right: 10px;
      text-align: center;
  }

  input[type=checkbox] + label {
    margin: none;
    display: inline-block;
    cursor: pointer;
    transform: scale(0.6);
  }
  
  input[type=checkbox] {
    display: none;
  }
  
  input[type=checkbox] + label:before {
    content: "\2714";
    border: 0.1em solid var(--surface1);
    border-radius: 0.2em;
    display: inline-block;
    width: 1em;
    height: 1em;
    padding-left: 0.2em;
    padding-bottom: 0.3em;
    vertical-align: center;
    color: transparent;
    transition: .2s;
  }
  
  input[type=checkbox] + label:active:before {
    transform: scale(0);
  }
  
  input[type=checkbox]:checked + label:before {
    background-color: MediumSeaGreen;
    border-color: MediumSeaGreen;
    color: #fff;
  }
  
  input[type=checkbox]:disabled + label:before {
    transform: scale(1);
    border-color: #aaa;
  }
  
  input[type=checkbox]:checked:disabled + label:before {
    transform: scale(1);
    background-color: #bfb;
    border-color: #bfb;
  }

  .label {
      display: inline-block;
  }

.color-mode__btn {
width: 50px;
}

.titleDiv {
    font-weight: bold;
}

.btn-group {
    text-align: center;
}

.btn_normal {
    color: var(--element1);
    background-color: var(--surface3);
    padding: 0;
    border: none;
    background: none;
    width: 18px;
    height: 21px;
    margin-left: 1px;
    margin-right: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.btn_pressed {
    color: var(--element3);
    background-color: var(--surface3);
    padding: 0;
    border: none;
    background: none;
    width: 18px;
    height: 21px;
    -webkit-animation:unspin 0.5s ease;
    -moz-animation:unspin 0.5s ease;
    animation:unspin 0.5s ease;
    margin-left: 1px;
    margin-right: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    outline: none;
}

.btn_unpressed {
    color: var(--element1);
    background-color: var(--surface3);
    padding: 0;
    border: none;
    background: none;
    width: 18px;
    height: 21px;
    -webkit-animation:spin 0.5s ease;
    -moz-animation:spin 0.5s ease;
    animation:spin 0.5s ease;
    margin-left: 1px;
    margin-right: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    outline: none;
}

.tag {
    font: normal 16px Varela;
    padding: 2px;
    color: white;
    display: inline-block;
    margin-left: 15px;
}

#temaredacao {
    font: normal 22px Varela; 
}

#secredacao {
    width: 80%;
    margin-left: 9%;
    margin-top: 4%;
    border: 5px solid var(--element3);
    border-radius: 15px;
    background-color: var(--surface2);
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(-90deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(-90deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(-90deg); transform:rotate(-90deg); } }

@-moz-keyframes unspin { 100% { -moz-transform: rotate(90deg); } }
@-webkit-keyframes unspin { 100% { -webkit-transform: rotate(90deg); } }
@keyframes unspin { 100% { -webkit-transform: rotate(90deg); transform:rotate(90deg); } }

.subTarefas {
    text-indent: 1.5em;
    font: normal 22px 'Sarabun'
}

.arrow {
    color: var(--primary);
    font-size: 28px;
    font-weight: bold;
    text-shadow: 2px 2px 1px var(--surface1, #eeeeee);
}

.tarefa_done {
    color: var(--element3);
    text-decoration: line-through;
}

.tarefa_undone {
    color: var(--element1);
    text-decoration: none;
}

.tarefaDiv {
    width: calc(100% - 30px);
    display: inline-block;
    margin-left: 20px;
}

#divtarefas {
    text-align:center;
}

  @media screen and (max-width:550px) {
    #temaredacao {
        font: normal 14px Varela; 
    }
    
    #secredacao {
        width: 70%;
        height: 10%;
        margin-left: 15%;
        margin-top: 2%;
        padding: 3px;
        border: 3px solid var(--element3);
        background-color: var(--surface2);
    }


    .color-mode__btn {
        width: 30px;
        height: 3%;
        font: normal 16px Arial;
    }

    .tag {
        font: normal 8px Varela;
        display: inline-block;
        margin-left: 8px;
    }
  
    #btn {
        position: absolute;
        top: 10px;
        right: 10px;
    }

    #ptit {
        font: normal 30px Lobster;
        text-shadow: 2px 2px 1px #EFEEEE;
        text-align: center;
    }

    .clock {
        font: normal 25px Pacifico;
        text-align: center;
    }

      section {
        padding: 10px;
        width: calc(100% - 100px);
        margin: auto;
        background-clip: padding-box;
        border: 5px solid transparent;
        border-radius: 10px;
        padding-bottom: 4%;
    }

    .imgbox img {
        min-width: 145px;
        width: 100%
    }

    #tarefas {
        font: normal 15px Dosis;
        justify-content: space-around;
    }

    .col {
        flex: 50%;
    }
  .row {
      display: block;
      justify-content: center;
      align-items: flex-start;
    }

    input[type='button'] {
        width: 60px;
        height: 20px;
        text-align: center;
        font: normal 7pt Dosis;
        border-style: outset;
    }
    
    input[type='button']:hover {
        width: 1;
        height: 1;
        text-align: center;
        font: normal 1 Dosis;
        font-weight: bold;
        border-style: inset;
    }
    
    input[type='button']:active {
        width: 1;
        height: 1;
        text-align: center;
        font: normal 1 Dosis;
        font-weight: bold;
        color: #EFEEEE;
        border-style: inset;
    }
    
    input[type='checkbox'] {
        width: 10px;
        height: 10px;
    }

    footer {
        font: normal 13px Pacifico;
        text-align: center;
        padding: 2%;
        text-shadow: 1px 1px 1px var(--element1, #eeeeee);
    }

    div {
        border: 10px;
    }
  
  h2 {
        text-align: center
    }

    body {
        font: normal 13px Dosis;
    }

    .subTarefas {
        text-indent: 1em;
        font: normal 13px 'Sarabun'
    }
    
    .arrow {
        color: var(--primary);
        font-size: 15px;
        font-weight: bold;
        text-shadow: 1px 1px 1px var(--surface1, #eeeeee);
    }
  }


