@viewport {
    width: device-width ;
    zoom: 1.0 ;
  }

@-ms-viewport {
    width: device-width ;
  }



body {
    font: normal 20px Dosis;
    background-color: #325D79;
    min-width: 250px;
}

#tarefas {
    font: normal 26px Dosis;
    justify-content: space-around;
}

section {
    padding: 20px;
    width: calc(100% - 150px);
    margin: auto;
    box-shadow: 15px 15px 1px #98D7D1;
    background-color: #EFEEEE;
    background-clip: padding-box;
    border: 10px solid transparent;
    border-radius: 20px;
    padding-bottom: 4%;
}

#ptit {
    font: normal 60px Lobster;
    color: #F26627;
    text-shadow: 4px 4px 1px #EFEEEE;
    text-align: center;
}

footer {
    font: normal 25px Pacifico;
    color: #F4FFFD;
    text-align: center;
    padding: 2%;
}

.clock {
    font: normal 60px Pacifico;
    text-align: center;
    color: #F4FFFD;

}

input[type='button'] {
    width: 100px;
    height: 40px;
    text-align: center;
    background-color: #F26627;
    font: normal 12pt Dosis;
    color: #EFEEEE;
    border-style: outset;
    border-color: #F9A26C;
    border-width: thick;
}

input[type='button']:hover {
    width: 1;
    height: 1;
    text-align: center;
    background-color: #EFEEEE;
    font: normal 1 Dosis;
    font-weight: bold;
    color: #F26627;
    border-style: inset;
    border-color: #F9A26C;
    border-width: thick;
}

input[type='button']:active {
    width: 1;
    height: 1;
    text-align: center;
    background-color: #F26627;
    font: normal 1 Dosis;
    font-weight: bold;
    color: #EFEEEE;
    border-style: inset;
    border-color: #F9A26C;
    border-width: thick;
}

input[type='checkbox'] {
    width: 20px;
    height: 20px;
}

.col {
      flex: 50%;
      justify-content: space-around;
  }
.row {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-flow: row wrap;
  }

div {
      border: 20px;
  }

h2 {
      text-align: center
  }

  .imgcontainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
  
    width: 100%;
    height: 100%;
  
    border-radius: 10px;;
  }
  
  .imgbox {
    border-radius: 10px;
    display: flex;
  }
  
  .imgbox img {
    width: 100%;
    object-fit: contain;
    border-radius: 4px;
    min-width: 400px;
  }

  @media screen and (max-width:550px) {
    #ptit {
        font: normal 30px Lobster;
        color: #F26627;
        text-shadow: 2px 2px 1px #EFEEEE;
        text-align: center;
    }

    .clock {
        font: normal 30px Pacifico;
        text-align: center;
        color: #F4FFFD;
    }

      section {
        padding: 10px;
        width: calc(100% - 100px);
        margin: auto;
        box-shadow: 7px 7px 0.5px #98D7D1;
        background-color: #EFEEEE;
        background-clip: padding-box;
        border: 5px solid transparent;
        border-radius: 10px;
        padding-bottom: 4%;
    }

    .imgbox img {
        min-width: 145px;
        width: 100%
    }

    #tarefas {
        font: normal 15px Dosis;
        justify-content: space-around;
    }

    .col {
        flex: 50%;
    }
  .row {
      display: block;
      justify-content: center;
      align-items: flex-start;
    }

    input[type='button'] {
        width: 60px;
        height: 20px;
        text-align: center;
        background-color: #F26627;
        font: normal 7pt Dosis;
        color: #EFEEEE;
        border-style: outset;
        border-color: #F9A26C;
        border-width: thin;
    }
    
    input[type='button']:hover {
        width: 1;
        height: 1;
        text-align: center;
        background-color: #EFEEEE;
        font: normal 1 Dosis;
        font-weight: bold;
        color: #F26627;
        border-style: inset;
        border-color: #F9A26C;
        border-width: thin;
    }
    
    input[type='button']:active {
        width: 1;
        height: 1;
        text-align: center;
        background-color: #F26627;
        font: normal 1 Dosis;
        font-weight: bold;
        color: #EFEEEE;
        border-style: inset;
        border-color: #F9A26C;
        border-width: thin;
    }
    
    input[type='checkbox'] {
        width: 10px;
        height: 10px;
    }

    footer {
        font: normal 13px Pacifico;
        color: #F4FFFD;
        text-align: center;
        padding: 2%;
    }

    div {
        border: 10px;
    }
  
  h2 {
        text-align: center
    }

    body {
        font: normal 13px Dosis;
        background-color: #325D79;
    }
  }


